<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="unity"
             type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=1.2.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>

  <unity>

    <typeAliases>
      <!-- lifetime manager types -->
      <typeAlias alias="singleton"
                 type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
      <!-- interfaces -->
      <typeAlias alias="IOrderFactory"
                 type="CslaRepositoryTest.BusinessLayer.IOrderFactory, CslaRepositoryTest.BusinessLayer" />
      <typeAlias alias="IOrderRepository"
                 type="CslaRepositoryTest.DataAccess.IOrderRepository, CslaRepositoryTest.DataAccess" />
      <typeAlias alias="IOrderListDataBinder"
                 type="CslaRepositoryTest.Gui.Presenters.IOrderListDataBinder, CslaRepositoryTest.Gui" />
      <typeAlias alias="IOrderEditDataBinder"
                 type="CslaRepositoryTest.Gui.Presenters.IOrderEditDataBinder, CslaRepositoryTest.Gui" />
      <typeAlias alias="IViewFactory"
                 type="CslaRepositoryTest.Gui.Views.IViewFactory, CslaRepositoryTest.Gui" />

      <!-- concrete classes -->
      <typeAlias alias="OrderFactory"
                 type="CslaRepositoryTest.BusinessLayer.OrderFactory, CslaRepositoryTest.BusinessLayer" />
      <typeAlias alias="OrderRepository"
                 type="CslaRepositoryTest.DataAccess.SqlServerRepository.OrderRepository, CslaRepositoryTest.DataAccess.SqlServerRepository" />
      <typeAlias alias="OrderListDataBinder"
                 type="CslaRepositoryTest.Gui.Presenters.OrderListDataBinder, CslaRepositoryTest.Gui" />
      <typeAlias alias="OrderEditDataBinder"
                 type="CslaRepositoryTest.Gui.Presenters.OrderEditDataBinder, CslaRepositoryTest.Gui" />
      <typeAlias alias="ViewFactory"
                 type="CslaRepositoryTest.Gui.Views.ViewFactory, CslaRepositoryTest.Gui" />

    </typeAliases>

    <containers>

      <container>

        <types>
          <type type="IOrderRepository" mapTo="OrderRepository">
            <lifetime type="singleton" />
          </type>
          <type type="IOrderFactory" mapTo="OrderFactory">
            <lifetime type="singleton" />
          </type>
          <type type="IOrderListDataBinder" mapTo="OrderListDataBinder">
            <lifetime type="singleton" />
          </type>
          <type type="IOrderEditDataBinder" mapTo="OrderEditDataBinder">
            <lifetime type="singleton" />
          </type>
          <type type="IViewFactory" mapTo="ViewFactory">
            <lifetime type="singleton" />
          </type>
        </types>

        <!--
        <instances>
        </instances>
        -->

      </container>

    </containers>

  </unity>

</configuration>
